<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block stylesheet %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
			<link rel="stylesheet" href="/public/css/style.css">
		{% endblock %}
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		<nav class="navbar">
			<h1>Ticketing</h1>
			<ul>
			{% if session.isConnected() %}
				<li><a href="{{ path('home')}}">Home</a></li>
				{% if session.isAdmin() %}
					<li><a href="{{ path('users')}}">Users</a></li>
				{% endif %}
				<li><a href="{{ path('logout')}}">Logout</a></li>
				{% endif %}
			</ul>
		</nav>
		<main>
			{% block content %}{% endblock %}
		</main>


		{% block script %}
			<script type="application/json" id="routes">{{ routes()|json_encode|raw }}</script>
			<script src="/public/js/dataParser.js"></script>
		{% endblock %}
	</body>

</html>
