<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block stylesheet %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
			<link rel="stylesheet" href="/public/css/style.css">
		{% endblock %}
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		<nav class="navbar">
			<h1>Ticketing</h1>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
		<main>
			{% block content %}{% endblock %}
		</main>


		{% block script %}
		{% endblock %}
	</body>

</html>
