{% extends "base.html.twig" %}


{% block script %}
	{{ parent() }}
{% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="/public/css/auth.css">
{% endblock %}


{% block content %}
	<div>
		{% block auth %}{% endblock %}
	</div>
{% endblock %}
