{% extends "@auth/auth.html.twig" %}

{% block title %}Login{% endblock %}

{% block auth %}
  <form action="{{ path('login') }}" method="post">
    <h2>Login</h2>
    {% if error %}
      <p>{{ error }}</p>
    {% endif %}
    <label for="login">login</label>
    <input type="text" id="login" name="login" value="{{ last_login }}" required autofocus>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
  </form>
  <a href="{{path('register')}}">create an account</a>
{% endblock %}